<!DOCTYPE html>
<html>
<html ng-app="shopular" lang="en-utf8">
<head>
  <meta charset="utf-8">
  <title>Shopular</title>

  <meta name='description' content='Shopping App'>
  <meta name='author' content='Noelle Knight'>
  <link rel='stylesheet' type='text/css' href='./css/main.css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src='js/controllers/main.js'></script>
  <script src='js/controllers/login.js'></script>
  <script src="js/factories/store-items.js"></script>

</head>

<body>

  <h2 class="text-success"> Shopular Inventory</h2>
  <header ng-controller='LoginController as log'class= 'container'>
        <h3 class="text-primary">Hello, {{log.name}}!</h3>
        <p id="date"> {{log.now | date:"MMM d - h:mma "}}</p>
  </header>
  <section ng-controller='ShopInvController as inv'>
    <p class="text-warning">{{inv.error}}</p>

    <div class="form-group">
      <form novalidate name="createForm" ng-submit="inv.save(createForm)">
        <button class="btn btn-danger">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
        <div class="form-group">
          <input ng-model="inv.newItem.name" type="text" required minlength="1" placeholder="Add an Item" class="form-control topInput" >
        </div>
        <div class="form-group">
          <input ng-model="inv.newItem.price" type="number" required minlength="1" placeholder="Add a price" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="inv.newItem.quantity" type="number" required minlength="1" placeholder="Add an amount" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="inv.newItem.color" type="text" required minlength="1" placeholder="Add a color" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="inv.newItem.discount" type="number" required minlength="1" placeholder="Add a discount" class="form-control">
        </div>
      </form>

      <table class="table table-bordered table-hover">
        <tr class= "text-primary bg-info">
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Color</th>
        </tr>
        <tr ng-repeat='item in inv.items | orderBy: "-quantity"' class="text-info">
          <td class="text-danger">{{ item.name }}</td>
          <td>
            {{ (item.price - item.discount) + ((item.price - item.discount) * inv.tax) | currency }}
            <img ng-show="item.discount !== 0" src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png">
          </td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.color }}</td>
        </tr>
      </table>
    </section>



  </body>
  </html>

  <!-- <img src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png" alt="discount icon"> -->
